* {
    box-sizing: border-box;
}

body {
    background: url("/static/img/cat.jpg");
    font-family: sans-serif;
    /* font-size: 20px; */
    margin: 0 auto;
    /* text-align: center; */
}

.auth{
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    border: 3px solid;
}

.form-group{
    margin: 5px;
}

/* a, a:visited {
  color: #007bff;
}

a:hover {
    color: #0056b3;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
} */
h2 {
    text-align: center;
    margin: 5px;
}

.main_header {
    margin-top: 6%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 3%;
    border: 3px solid;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.message-div{
    word-wrap: break-word;
    border-radius: 20px;
    background-color: rgb(72, 118, 219);
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.div-flash {
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 0px;
    /* border: 3px solid; */
    font-size: 25px;
    /* border-radius: 20px;
    background-color: rgb(221, 47, 41);
    margin: 3px 40%;
    padding: 0.01%; */
}

.chat-container {
    max-width: 80%;
    margin: 0 auto;
}

.chat-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    height: 70vh;
    overflow-y: scroll;
}

.chat-box-header {
    background-color: #f7f7f7;
    border-radius: 10px;
}

.chat-message {
    background-color: #e2e3e5;
    border-radius: 5px;
    max-width: 100%;
    padding: 2%;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
}

.user-message {
    background-color: #cce5ff;
    text-align: right;
}

.chat-input {
    border-radius: 5px;
}

.chat-left {
    margin: 2%;
    padding: 1%;
    text-align: left;
}

.chat-right {
    margin: 2%;
    padding: 1%;
    text-align: right;
}

.my-rooms {
    margin-top: 1%;
    text-align: left;
}
