<nav>
    <ul>
        <li><a href="{{ url_for('pages.home') }}" id="nav_home">Home</a></li>
        <li><a href="{{ url_for('pages.about') }}" id="nav_about">About</a></li>
        <li><a href="{{ url_for('posts.create') }}" id="nav_create">Create Post</a></li>
        <li><a href="{{ url_for('posts.posts') }}" id="nav_posts">Posts</a></li>
        <li><a href="{{ url_for('auth.login') }}" id="nav_login">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}" id="nav_register">Register</a></li>
    </ul>
</nav>