{% extends 'base.html' %}

{% block header %}
  <div class="main_header text-primary-emphasis bg-primary-subtle rounded-3" data-bs-theme="dark">
    <h2>{% block title %}Posts{% endblock title %}</h2>
  </div>
{% endblock header %}

{% block content %}
  {% for post in posts %}
    <div class="message-div">
      <article>
        <p class="message" id="post-{{ post["id"] }}">{{ post["message"] }}</p>
        <aside id="status">Posted by {{ post["author"] }} on {{ post["created"].strftime("%b %d, %Y at %I:%M%p") }} Nr {{post["id"]}}</aside>
      </article>
    </div>
  {% endfor %}
{% endblock content %}
